{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex flex-column">
        <div class="p-2">
            {% include 'partials/header.html.twig' %}
        </div>
        <div class="p-2 flex-grow-1">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}